.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 30px;
    .footer_word1 {
        font-family: 'Vollkorn', serif;
        font-size: 18px;
        margin-top: 12px;
    }
    .footer_word2 {
        margin: 30px 0 50px 0;
        line-height: 26px;
        @media(max-width: 414px) {
            margin: 30px 24px 50px 24px;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-name,
.form-email,
.form-message,
.form-submit {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.form-style {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #999;
    &::-webkit-input-placeholder {
        color: #999;
    }
}

input {
    height: 22px;
    width: 300px;
    max-width: 100%;
}

input {
    font-family: 'Montserrat', sans-serif;
}

textarea {
    height: 80px;
    font-family: 'Montserrat', sans-serif;
}

.btn-submit {
    cursor: pointer;
    width: 100px;
    height: 48px;
    color: #fff;
    background: #999;
    font-size: 16px;
    font-weight: 700;
    border: none;
    &:hover {
        background: #e9e9e9;
        color: #999;
        transition: ease-in-out 0.4s;
    }
}

.copyright-contact-footer {
    margin: 150px auto 0;
    .copyright-contact {
        margin: -17px auto 12px;
        padding-top: -40px;
    }
}