body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    color: #333;
    letter-spacing: 1px;
}

h1,
h2 {
    font-size: 16px;
    font-weight: 700;
}

h1,
li {
    color: #333;
    &:hover {
        color: #999;
        cursor: pointer;
        transition: linear 0.5s;
    }
}

a {
    color: #333;
    text-decoration: none;
    list-style: none;
    &:hover {
        color: #999;
        transition: linear 0.5s;
    }
}