header {
    padding: 48px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    li {
        padding: 0 12px;
        @media(max-width: 768px) {
            padding: 12px 24px 0 0;
            line-height: 12px;
        }
    }
}

main {
    padding: 0 24px;
    .work {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img {
            &:hover {
                opacity: 0.5;
                transition: ease-in-out 0.8s;
            }
            width: 30vw;
            @media(max-width: 1279px) {
                width: 45vw;
            }
            @media(max-width: 768px) {
                width: 40vw;
            }
            @media(max-width: 414px) {
                width: 80vw;
            }
            padding: 0 8px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h3 {
            padding: 16px 0 32px 0;
        }
    }
}

footer {
    background: #e9e9e9;
    padding: 48px 0 24px 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .footer_word1 {
        font-family: 'Vollkorn', serif;
        font-size: 18px;
        margin-top: 12px;
    }
    .footer_word2 {
        margin: 30px 0 50px 0;
        line-height: 26px;
        @media(max-width: 414px) {
            margin: 30px 24px 50px 24px;
        }
    }
    small {
        font-size: 12px;
        color: #666;
        border-top: 1px solid #666;
        padding-top: 20px;
        @media(max-width: 414px) {
            margin: 30px 24px 50px 24px;
        }
    }
}