main {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 50vw;
        @media(max-width: 414px) {
            width: 80vw;
        }
    }
    .member {
        margin-top: 20px;
        line-height: 26px;
    }
    .concept {
        border-bottom: solid 1px #999;
        // border-radius: 8px;
        padding: 8px;
        margin: 60px 0 20px 0;
    }
    .project_word {
        line-height: 26px;
        width: 50vw;
        margin-bottom: 60px;
        @media(max-width: 414px) {
            width: 80vw;
        }
    }
}